@media only screen and (min-width: 1200px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .menuToggle {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    .menuToggle {
        display: none;
    }

    h6.member-name {
        width: 100%;
    }

    .left-header>h1.title {
        font-size: 28px;
    }

    .left-header>p.subtitle {
        max-width: 100%;
    }

    h2.services-header,
    h2.clients-header,
    h2.team-header {
        font-size: 28px;
        /* background-color: red; */
    }

    .services-content {
        width: 100%;
        /* justify-content: center; */
        /* margin: 0 auto; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services-content>.content {
        /* background-color: red; */
        width: 50%;
        height: 20rem;
        /* margin: 0 auto; */
    }

    .services-content>.content>p.service-p {
        width: 75%;
        /* background-color: blue; */
        margin: 0 auto;
    }

    h5.service-title {
        width: 100%;
    }

    .team>.container {
        width: 100%;
    }

    .member {
        /* width: 20%; */
        margin: 0 0.5rem;
        /* background-color: red; */
    }

    h6.member-name {
        width: 70%;
        height: 3rem;
    }

    .footer-right button {
        width: 10.5rem;
    }
}

@media only screen and (max-width: 993px) {
    body {
        /* background-color: magenta; */
    }

    .top-wrapper {
        /* justify-content: center; */
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20rem;
    }

    .right-header {
        width: 100%;
        margin-left: 10rem;
    }

    .left-header {
        width: 80%;
        top: 0;
        position: absolute;
    }

    .btn-wrapper {
        text-align: center;
    }

    .header-left>.header-menu>ul>li {
        margin: 35px 0 0 0;
    }

    .left-header {
        margin-top: 40rem;
        padding-bottom: 0;
    }

    .menuToggle {
        display: none;
    }

    .left-header>h1.title {
        font-size: 28px;
    }

    .left-header>p.subtitle {
        margin: 0 auto;
        width: 80%;
    }

    .header-left>.header-menu>ul>li {
        font-size: 14px;
    }

    .header-right a {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    #right-header {
        max-width: 100%;
    }

    .getstarted {
        padding: 20px 0 0 10px;
    }

    .services-content {
        max-width: 100%;
        /* justify-content: center; */
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    p.services-p {
        width: 80%;
    }

    h2.services-header {
        font-size: 28px;
        /* background-color: red; */
    }

    .services-content>.content {
        /* background-color: #fff; */
        width: 48%;
        margin: 0 auto;
    }

    h5.service-title {
        width: 100%;
    }

    .clients {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients>.client {
        width: 35%;
        margin: 1rem 1rem;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        /* z-index: 1; */
        /* margin-bottom: 20rem; */
        /* margin-bottom: 55rem; */
    }

    .member {
        margin: 0 3rem;
        width: 40%;
        margin: 0 auto;
    }

    .member:nth-child(3),
    .member:last-child {
        margin-top: 1rem;
    }

    .member>.member-picture {
        width: 60%;
        margin: 0 auto;
    }

    h6.member-name {
        margin: 1rem 0 1rem 0;
    }
}

@media only screen and (max-width: 768px) {

    .menuToggle {
        display: block;
        margin: 2.3rem 0 0 1rem;
        /* width: 1rem; */
        color: #fff;
    }

    .menu-header {
        position: absolute;
        width: 100%;
        background-color: #333;
    }

    .header-left>.header-menu>ul>li {
        display: none;
    }

    p.subtitle {
        max-width: 100%;
    }

    .services-content>.content {
        /* background-color: #fff; */
        width: 100%;
        margin: 0 auto;
    }

    .content {
        max-width: 80%;
        /* margin: 0rem 1rem;
        padding: 1rem 0; */
    }

    .member-name {
        height: 2rem;
        /* background-color: yellow; */
    }

    h2.services-header {
        text-align: center;
    }

    footer>.container {
        width: 100%;
    }

    footer h6 {
        font-size: 1rem;
    }

    .footer-left {
        flex-grow: 3;
        /* padding-right: 3rem; */
    }

    .footer-middle,
    .footer-right {
        flex-grow: 1;
    }

    .footer-middle>*,
    .footer-middle h6 {
        margin-left: 3rem;
    }

    .footer-right input,
    .footer-right button {
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    body {
        /* background-color: red; */
    }

    .top-wrapper {
        margin-bottom: 20rem;
        /* padding-top: 15rem; */
    }

    .right-header {
        width: 100%;
        /* z-index: 1; */
        /* background-color: red; */
    }

    .left-header {
        /* background-color: blue; */
        /* width: 80%; */
        padding-top: 2rem;
        /* top: 0; */
        position: absolute;
        margin-top: 38rem;
    }

    .left-header>h1.title {
        width: 100%;
    }

    .left-header>p.subtitle {
        width: 100%;
    }

    .getstarted {
        /* justify-content: center; */
        width: 12rem;
        height: 3rem;
        padding: 0.8rem 0 0 0;
        margin: 0 auto;
    }

    .subtitle {
        max-width: 80%;
    }

    h2.clients-header,
    h2.services-header,
    h2.team-header {
        font-size: 1.3rem;
        font-weight: bold;
        color: #393939
    }

    .clients>.client {
        width: 55%;
        margin: 1rem 1rem;
    }

    .content {
        max-width: 100%;
    }

    .team {
        padding-bottom: 5rem;
    }

    .member {
        width: 80%;
    }

    .member-name {
        padding-top: 1rem;
        /* width: 100%; */
    }

    .member>.member-picture {
        max-width: 60%;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    footer>.container {
        display: flex;
        flex-wrap: wrap;
        /* width: 100%; */
        flex-direction: column;
    }

    .footer-middle>*,
    .footer-middle h6 {
        margin-left: 0;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        width: 100%;
    }

    .footer-right button,
    .footer-right input {
        width: 100%;
    }

    .footer-right>.social-solid {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}